.CIST-content{
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    display: block;
    cursor: pointer;
}
.CIST-AddBtt{
    float:right
}
.QuestionDetail-content{
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 60%;
}
