.changepw-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; /* 세로 가운데 정렬 */
    margin-bottom: 100px;
  }
  
  .changepw-title {
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    width: 500px;
    text-align: center;
    padding: 50px;
    font-size: 35px;
    font-weight: 1000;
    user-select: none; /* 텍스트 선택 금지 */
  }
  
  .changepw-notification {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .changepw-context-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 좌측 정렬 */
  }
  
  .passwordChange1,
  .passwordChange2,
  .passwordChange3 strong{
    margin-right: 30px; /* 각 strong 요소 사이의 우측 여백 */
  }
  
  .passwordChange1,
  .passwordChange2,
  .passwordChange3,
  input[type="password"] {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  input[type="password"] {
    padding: 0 1em;
    border-radius: 5px;
    display: inline-block; 
    height: 40px; 
    border: 1px solid rgba(256, 256, 256, 0.3);
    white-space: nowrap;
  }
  
  .ChangeBtt {
    margin-top: 120px;
    background-color: #e44c65;
    color: white;
    width: 400px;
    height: 80px;
    border-radius: 35px;
    border: none;
    margin-left: 5%;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
  }
  
  .ChangeBtt:hover {
    background-color: #953142;
  }

  @media screen and (max-width: 768px) {
    .passwordChange1,
    .passwordChange2,
    .passwordChange3,
    input[type="password"]{
    min-width: 15em; 
    margin-left: 0em;
   }
    .ChangeBtt {
      max-width: 60%;
      margin-left: 20%;
    }
  }
  