.changepw-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin-bottom: 100px;
  }
  
  .changepw-title {
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    width: 500px;
    text-align: center;
    padding: 50px;
    font-size: 35px;
    font-weight: 1000;
    user-select: none; 
  }
  
  .changepw-notification {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
  }
  
  .changepw-context-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .passwordChange1,
  .passwordChange2,
  .passwordChange3 strong{
    margin-right: 30px; 
  }
  
  .passwordChange1,
  .passwordChange2,
  .passwordChange3,
  input[type="password"] {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  input[type="password"] {
    padding: 0 1em;
    border-radius: 5px;
    display: inline-block; 
    height: 40px; 
    border: 1px solid rgba(256, 256, 256, 0.3);
    white-space: nowrap;
  }
  
  .ChangeBtt {
    margin-top: 60px;
    background-color: #e44c65;
    color: white;
    width: 400px;
    height: 80px;
    border-radius: 35px;
    border: none;
    margin-left: 5%;
    cursor: pointer;
    transition: background-color 0.2s;
    font-size: 20px;
  }
  
  .ChangeBtt:hover {
    background-color: #953142;
  }

  @media screen and (max-width: 730px) {
    .passwordChange1,
    .passwordChange2,
    .passwordChange3,
    input[type="password"]{
    width: 25.5em; 
    /* margin-left: 2em; */
   }
    .ChangeBtt {
      max-width: 60%;
      margin-left: 10%;
    }
  }

  @media screen and (max-width: 385px) {
    .changepw-title {
      text-align: center;
    }
    .changepw-notification {
      text-align: center;
      margin-right: 10%;
    }
    .passwordChange1,
    .passwordChange2,
    .passwordChange3,
    input[type="password"]{
    width: 20em; 
    /* margin-left: 2em; */
   }
    .ChangeBtt {
      max-width: 50%;
      margin-left: 20%;
      height: 50px;
    }
  }
  