body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* 전체 페이지 스크롤 허용 */
    background-color: #2c2c2c; /* 배경색을 차트 배경과 동일하게 설정 */
  }
  
  .content-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100vh; /* 컨텐츠 높이를 최소 100vh로 설정 */
  }
  
  .user-selector {
    margin-bottom: 20px;
    text-align: center;
    color: white;
  }
  
  .charts-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  .chart-container {
    width: calc(50% - 20px);
    height: 400px; /* 높이를 300px로 감소 */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white; /* 글자 색상을 흰색으로 설정 */
  }
  
  h2 {
    color: white; /* 제목 색상을 흰색으로 설정 */
    margin-bottom: 20px; /* 제목과 차트 간의 간격 설정 */
  }
  
  canvas {
    background-color: transparent; /* 차트의 배경색을 투명하게 설정 */
    width: 100%;
    height: 100%;
  }
@media (max-width: 768px) {
  .chart-container {
    width: 100%;
  }
}