.diagnosis-list-container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}

.patient-info {
  border-bottom: 2px solid #e0e0e0;
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  user-select: none;
}

.diagnosis-list-title,
.medication-list-title {
  width: 100%;
  max-width: 500px;
  text-align: center;
  padding: 20px;
  font-size: 1.5em;
  font-weight: bold;
  user-select: none;
  margin-top: 20px;
}

.diagnosis-list,
.medication-list {
  list-style: none;
  padding: 0;
  width: 100%;
  max-width: 600px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.diagnosis-list li,
.medication-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
}

.X-Button {
  padding: 5px 10px;
  background-color: #ff4d4d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.X-Button:hover {
  background-color: #ff1a1a;
}

.patient-list-name {
  font-size: 30px;
  font-weight: 500;
}

.patient-name-list {
  font-size: 30px;
}



.edit-container {
  display: flex;
  flex-direction: column; 
  gap: 10px;             
  max-width: 400px;     
  padding: 10px;
  margin-top: 10px;
}

.edit-row {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px;
  align-items: center;
}

.edit-row label {
  min-width: 60px; /* 라벨 너비 예시 */
  font-weight: bold;
}

.edit-row input[type="number"],
.edit-row input[type="text"] {
  width: 300px; 
}

#bttDiagnosisList{
  width: 6em;
}
/* 반응형 스타일 */
@media screen and (max-width: 730px) {
  .patient-info,
  .diagnosis-list-title,
  .medication-list-title,
  .diagnosis-list,
  .medication-list {
      padding: 15px;
  }

  .button {
      padding: 8px 16px;
      font-size: 14px;
      line-height: 2em;
  }
}

@media screen and (max-width: 385px) {
  .patient-info,
  .diagnosis-list-title,
  .medication-list-title {
      font-size: 18px;
      padding: 15px;
      line-height: 2em;
  }

  .diagnosis-list li,
  .medication-list li {
      padding: 8px;
      font-size: 14px;
  }

  .button {
      padding: 6px 12px;
      font-size: 14px;
  }
}
