/* Header */

#page-wrapper {
  /* padding-top: 3.5em; */
}

#header {
  background: #fff;
  /* background: white; */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.075);
  cursor: default;
  height: 3.3em;
  left: 0;
  line-height: 3.5em;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

  #header h1 {
    height: inherit;
    left: 1.25em;
    line-height: inherit;
    margin: 0;
    position: absolute;
    top: 0;
    color: #7C8081;
    font-weight: bold;
  }

  #header nav {
    position: absolute;
    right: 1em;
    top: 0;
  }

    #header nav ul {
      margin: 0;
    }

      #header nav ul li {
        display: inline-block;
        margin-left: 1em;
      }

        #header nav ul li a, #header nav ul li span {
          border: 0;
          color: #7C8081;
          display: inline-block;
          height: inherit;
          line-height: inherit;
          outline: 0;
        }

          #header nav ul li a.button, #header nav ul li span.button {
            height: 2em;
            line-height: 2em;
            padding: 0 1.25em;
          }

          #header nav ul li a:not(.button):before, #header nav ul li span:not(.button):before {
            margin-right: 0.5em;
          }

        #header nav ul li.active > a, #header nav ul li.active > span {
          color: #e44c65;
        }

        #header nav ul li > ul {
          display: none;
        }
        #header nav li a{
          font-size: 1em;
        }
        #font-bold{
          font-weight: bold;
        }
body.landing #page-wrapper {
  padding-top: 0;
}

body.landing #header {
  background: transparent;
  box-shadow: none;
  position: absolute;
}
#header h1{
  margin-left: 150px;
}