.myinfo-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;
  }
  
  .myinfo-title {
    margin-bottom: 20px;
    border-bottom: 1px solid whitesmoke;
    width: 500px;
    text-align: center;
    padding: 50px;
    font-size: 35px;
    font-weight: 1000;
  }
  
  .myinfo-context-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 좌측 정렬 */
  }
  
  .myinfo-context {
    margin-top: 20px;
    display: flex;
    align-items: center; /* 가로 가운데 정렬 */
    margin-bottom: 35px;
  }
  
  .myinfo-context p {
    margin: 0; /* p 요소의 기본 마진 제거 */
  }
  
  .myinfo-context strong {
    margin-right: 10px; /* 각 strong 요소 사이의 우측 여백 */
  }
  .myinfo-context span {
    padding: 5px;
    text-align: center;
    border-radius: 15px;
    display: inline-block; /* 높이와 너비를 설정하기 위해 inline-block으로 변경 */
    min-width: 300px; /* 너비 설정 */
    height: 40px; /* 높이 설정 */
    border: 1px solid rgba(256, 256, 256, 0.3); /* border 스타일 설정 */
    margin-left: 150px; /* 각 span 요소 사이의 좌측 여백 설정 */
    white-space: nowrap;
  }

  @media screen and (max-width: 768px) {
    .myinfo-context span {
      min-width: 15em; 
      margin-left: 3em; 
    }
  }
  