.sidebar {
  background-color: transparent;
  border-bottom: 1px solid rgba(256, 256, 256, 0.3);
  min-height: 100px; /* 최소 높이 설정 */
  display: flex;
  flex-direction: column; /* sidebar-title과 sidebar-menu를 세로로 배치 */
  align-items: center;
  justify-content: center; /* 세로 가운데 정렬 */
  margin-top: 3%;
  position: relative;
}

.sidebar-title {
  user-select: none;
  margin-top: -5%;
  font-size: 20px;
  margin-bottom: 10px; 
  width: 200px;
  height: 180px;
  border-bottom: 4px solid #e44c65;
}

.sidebar-menu {
  margin-top: 1%;
  display: flex; /* sidebar-menu를 가로로 배치 */
  justify-content: center; /* 가로 가운데 정렬 */
}

.sidebar-menu li {
  margin-right: 20px; /* 메뉴 간의 우측 여백 */
  cursor: pointer; /* 마우스를 올렸을 때 포인터로 변경 */
  transition: color 0.3s;
}

.sidebar-menu li:hover {
  color: rgb(61, 61, 61); /* 마우스를 올렸을 때 텍스트 색상을 blue로 변경 */
}

/* .content {
  padding: 20px;
} */
