#PatientDetail-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.X-Button {
    padding: 7px;
    border: 1px solid #c1c1c1;
    background-color: #ff4d4d;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.X-Button:hover {
    background-color: #ff1a1a;
}

#dosage, #frequency, #diagnosis, #medication {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.diagnosis-item, .medication-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* flex-wrap: wrap; */
}
.medication-item input{
    margin-right: 5px;
}
#CmsAdd-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 800px;
}

.Cms-diagnosis-container, .Cms-medication-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 30px;
}

.Medication-saveBtt, .Diagnosis-saveBtt {
    display: flex;
    justify-content: center;
    width: 100%;
}

.Cmss-header {
    text-align: center;
    margin-bottom: 20px;
}

.Cmss-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
#cancelBtt{
    background-color: #bbb;
}
@media (max-width: 768px) {
    .diagnosis-item, .medication-item {
        flex-direction: column;
        align-items: flex-start;
    }
    .X-Button {
        margin-left: 0;
        margin-top: 10px;
    }
    #PatientDetail-Btt, #saveBtt, #cancelBtt {
        width: 100%;
        max-width: none;
    }
}
